// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    padding-block: 6.4rem;

    &-grid {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: "logo""social""navigation""cta""copyright";
        justify-items: center;
        grid-row-gap: 2rem;


        @include respond-to(medium) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "logo cta""navigation .""social copyright";
            justify-items: stretch;
        }


        @include respond-to(large) {
            grid-template-columns: 17.5rem 1fr 24.5rem;
            grid-template-areas: "logo navigation cta""social navigation copyright";
            grid-row-gap: 7.345rem;
            grid-column-gap: 11rem;

        }
    }

    &__logo {
        grid-area: logo;
    }

    &__social {
        grid-area: social;
    }

    &__navigation {
        grid-area: navigation;
        margin-top: 1.5rem;
        margin-bottom: 9rem;

        @include respond-to(medium) {
            margin-top: 0;
            margin-bottom: 4.8rem;
        }

        @include respond-to(large) {
            margin-bottom: 0;
        }

        ul {
            gap: 1rem;
            flex-direction: column;

            @include respond-to(medium) {
                flex-direction: row;
                gap: 2.5rem;

            }

            @include respond-to(large) {
                flex-direction: column;
                gap: 1rem;
            }
        }

        ul a:link,
        ul a:visited {
            color: var(--pure-white);
        }
    }

    &__cta {
        grid-area: cta;

        @include respond-to(medium) {
            justify-self: end;
        }
    }

    &__copyright {
        grid-area: copyright;

        @include respond-to(medium) {
            justify-self: end;
        }
    }

    &__social {
        a:not(:last-child) {
            margin-right: 0.87rem;
        }

        svg path {
            transition: fill .2s;
            fill: var(--pure-white);
        }
    }
}

.facebook-link:hover {
    svg path {
        fill: url(#a);
    }
}

.youtube-link:hover {
    svg path {
        fill: url(#b);
    }
}

.twitter-link:hover {
    svg path {
        fill: url(#c);
    }
}

.pinterest-link:hover {
    svg path {
        fill: url(#d);
    }
}

.instagram-link:hover {
    svg path {
        fill: url(#e);
    }
}