.header-content-wrapper {
    max-width: 31.8rem;
    padding-right: 1rem;
    margin-inline: 3.3rem;
    margin-block: 5.8rem;

    @include respond-to(medium) {
        padding-inline: .5rem;
        max-width: 38.7rem;
    }

}

.vertical-gradient-bar {
    position: absolute;
    top: 0;
    height: 6px;
    width: 12.8rem;
    background-image: linear-gradient(1deg, var(--accent-color-1), var(--accent-color-2), var(--accent-color-3));

    @include respond-to(medium) {
        top: auto;
        left: 0;
        width: 6px;
        height: 30.4rem;
        background-color: white;
        background-image: linear-gradient(to top, var(--accent-color-1), var(--accent-color-2), var(--accent-color-3));
    }
}