.header-content-wrapper {
    max-width: 39rem;
    margin-inline: 3.3rem;
}

.gradient-bar {
    position: absolute;
    top: 0;
    height: 6px;
    width: 12.8rem;
    background-image: linear-gradient(0.6deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);

    @include respond-to(medium) {
        top: auto;
        left: 0;
        width: 6px;
        background-color: white;
        background-image: linear-gradient(to top, var(--accent-color-1), var(--accent-color-2), var(--accent-color-3));

        &--short {
            height: 14.4rem;
        }

        &--medium {
            height: 28rem;
        }

        &--long {
            height: 30.4rem;
        }
    }
}