.mx-auto {
    margin-inline: auto;
}

.text-center {
    text-align: center;
}

.md\:text-left {
    @include respond-to(medium) {
        text-align: left;
    }
}

.md\:text-right {
    @include respond-to(medium) {
        text-align: right;
    }
}