.bg-white {
    background-color: var(--pure-white);
}

.bg-black {
    background-color: var(--pure-black);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

.opacity-25 {
    opacity: 0.25;
}