.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-col {
    flex-direction: column;
}

.md\:flex-row {
    @include respond-to(medium) {
        flex-direction: row;
    }
}

.lg\:flex-col {
    @include respond-to(large) {
        flex-direction: column;
    }
}



.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}