/* Reusable grid utilities  */
.grid {
    display: grid;
}

.grid-col-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.md\:grid-small-big {
    @include respond-to(medium) {
        grid-template-columns: minmax(49.5rem, 6.1fr) minmax(27.3rem, 8.3fr);
    }
}

.md\:grid-big-small {
    @include respond-to(medium) {
        grid-template-columns: minmax(27.3rem, 8.3fr) minmax(49.5rem, 6.1fr);
    }
}

.md\:order-1 {
    order: 2;

    @include respond-to(medium) {
        order: 1;
    }
}

.md\:order-2 {
    order: 1;

    @include respond-to(medium) {
        order: 2;
    }
}



.sm\:grid-col-2 {
    @include respond-to(small) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.md\:grid-col-2 {
    @include respond-to(medium) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.lg\:grid-col-4 {
    @include respond-to(large) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.lg\:grid-col-3 {
    @include respond-to(large) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}