/* Display utilities for different viewport width*/
.hide-for-mobile {
    @media only screen and(max-width: 767px) {
        display: none;
    }
}

.hide-for-desktop {
    @include respond-to(medium) {
        display: none;
    }
}

/* Object Fit */
.object-contain {
    object-fit: contain;
}

/* Position  */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

/* Z-Index */

.z-10 {
    z-index: 10;
}