:root {
    // Accent colors
    --accent-color-1: hsl(28, 100%, 79%);
    --accent-color-2: hsl(329, 36%, 59%);
    --accent-color-3: hsl(229, 100%, 67%);

    --pure-black: hsl(0, 0%, 0%);
    --light-grey: hsl(0, 0%, 87%);
    --light-grey-2: hsl(0, 0%, 96%);
    --pure-white: hsl(0, 0%, 100%);


    // Font family
    --ff-primary: 'DM Sans', sans-serif;

    // Font sizes
    --fs-400: 400;
    --fs-500: 500;
    --fs-700: 700;
}