// Typography utilities
.uppercase {
    text-transform: uppercase;
}

.text-black {
    color: var(--pure-black);
}

.text-white {
    color: var(--pure-white);
}

.font-bold {
    font-weight: var(--fs-700);
}

.font-regular {
    font-weight: var(--fs-400);
}

.tracking-wide {
    letter-spacing: 2px;
}

.tracking-wider {
    letter-spacing: 4.17px;
}

.fs-12 {
    font-size: 1.2rem;
}

.fs-13 {
    font-size: 1.3rem;
}

.fs-15 {
    font-size: 1.5rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-40 {
    font-size: 4rem;
}

.hover\:text-opacity-30:hover {
    transition: all .2s;
    opacity: 30%;
}

.heading-primary {
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: var(--fs-700);
    line-height: 1.25;
    letter-spacing: 4.17px;

    @include respond-to(small) {
        font-size: 4rem;
        line-height: 1.2;
    }
}

.heading-tertiary {
    font-size: 1.8rem;
    font-weight: var(--fs-700);
}

.paragraph-primary {
    font-size: 1.5rem;
    line-height: 1.667;
    opacity: 0.6;
}

.footer__copyright {
    opacity: 0.525;
}

// Line height
.lh-1 {
    line-height: 1;
}