.features {
    &__grid {
        grid-row-gap: clamp(5.6rem, 9vw, 10rem);
    }
}

.banner {
    h2 {
        max-width: 40rem;
    }

    .gradient-bar {
        top: 0;
    }

    padding-block: clamp(6.4rem, 7vw, 6.8rem);

    background-image: url('../../images/shared/mobile/bg-beta.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include respond-to(medium) {
        background-image: url('../../images/shared/tablet/bg-beta.jpg');
    }

    @include respond-to(large) {
        background-image: url('../../images/shared/desktop/bg-beta.jpg');
    }

    overflow-y: hidden;

}