.hero-background {
    background-position: center;
    background-size: cover;

    @include respond-to(medium) {
        padding-block: 9rem;
        background-image: url('../../images/stories/tablet/moon-of-appalacia.jpg');
    }

    @include respond-to(large) {
        background-image: url('../../images/stories/desktop/moon-of-appalacia.jpg');
    }
}

.stories-top-heading {
    max-width: 28.5rem;
}

.radial-gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    // background-image: radial-gradient(ellipse at bottom left, hsla(28, 100%, 79%, 1) 0%, hsla(329, 36%, 59%, 0.497) 38%, hsla(229, 100%, 67%, 0.01) 73%);
    background-image: radial-gradient(68.48% 68.48% at 0% 100%, #FFC593 0%, rgba(188, 113, 152, 0.496968) 52.92%, rgba(91, 119, 253, 0.00770543) 99.99%, rgba(90, 119, 255, 0.0001) 100%);
    opacity: 0;
    z-index: 1;
    transition: opacity 300ms ease-in-out;
}


.btn:hover~.radial-gradient {
    opacity: 0.49;
}